<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="studio.forface.fluentnotifications">

    <!-- Allow notifications to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity android:name=".builder.AutoCancelActivity"/>
    </application>

</manifest>